
body{
    position: relative;
    /* background: url("./assets/cloudBridge.JPG") no-repeat fixed center;
    background-size: cover; */
    background-image: linear-gradient(8deg, rgb(255, 196, 0) 30%, white 30.1%);
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-image: linear-gradient(to right, rgb(4,55,105), rgb(11, 95, 163));
    /* z-index: 1; */
}

/* nav bar stuff */
.navbar-brand {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 1em;
}

.navbar-nav{
    margin-right: 2em;
}

.navbar-nav .link-light{
    opacity: .8;
    transition: all .3s;
}

.link-light:hover{
   opacity: 1;
}

/* home section stuff */
#home{
    display: flex;
    height:80vh;
    font-family: 'Montserrat', sans-serif;
}

#titles {
    margin: auto;
    justify-content: center;
    color: white;
    width:80%;
    background-image: none;
    transition: all .3s;

}

#designer{
    display: inline-block;
    text-align: right;
    padding-right:25px;
    padding-top: 15px;
    background-color:rgba(4,55,105);
    background-image: linear-gradient(to right, rgb(4,55,105), rgb(11, 95, 163));
    border-radius: 50px 0px 0px 0px;
    backdrop-filter: blur(4px);
    margin:2px;
    transition: all .3s;
}

#developer{
    display: inline-block;
    text-align: left;
    padding-left:25px;
    padding-top: 15px;
    background-color:rgba(4,55,105);
    background-image: linear-gradient(to left, rgb(4,55,105), rgb(11, 95, 163));
    border-radius: 0px 0px 50px 0px;
    backdrop-filter: blur(4px);
    margin: 2px;
    transition: all .3s;
}

#titles:hover #developer{
    /* transition: .5s; */
    margin-left: -2px;
    /* background-image: linear-gradient(to left, rgb(4,55,105), rgb(11, 95, 163));
    box-shadow: inset 5px 0px 5px rgba(255,255,255,.8); */
    
}

#titles:hover #designer{
    /* transition: .2s; */
    margin-right: -2px;
    /* background-color:  rgb(11, 95, 163); */
    /* box-shadow: inset -5px 0px 5px rgba(255,255,255,.8);
    background-image: linear-gradient(to right, rgb(4,55,105), rgb(11, 95, 163)); */
    
}

/* about me section stuff */
#about{
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* height:600px; */
    /* border-radius: 75px 0px 75px 0px; */
    padding-top: 75px;
}

#about-container{
    background-color:rgba(4,55,105);
    padding-bottom: 30px;
}

#about-wrapper{
    backdrop-filter: blur(4px);
    width: 80%;
    margin: auto;
}

#about-left{
    text-align: center;
    padding-top: 20px;
}

#about-left img{
    width:100%;
    border-radius: 100px;
}

#about-right{
    padding-top: 30px;
    padding-left: 10px;
}

#about-left h1{
    font-weight: bold;
    color: rgb(4,55,105);
    background-color: white;
    border-radius: 15px 0 15px 0;
}

/* portfolio seciton */
#portfolio{
    /* background-color:skyblue; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 75px;
    padding-bottom: 25px;
}

#portfolio h1{
    width: 30%;
    min-width: 200px;
    margin: auto;
    font-weight: bold;
    background-color:rgb(11, 95, 163);
    border-radius: 15px 0px 15px 0px;
    /* backdrop-filter: blur(4px); */
}

#cards-wrapper{
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

.card{
    display: inline-block;
    /* width: 30%; */
    margin:5px;
    min-width: 145px;
    padding-top: 25px;
    border-radius: 25px 0px 25px 0px;
    border: none;
    transition: all .2s;
    background-color:rgb(4,55,105);
    background-image: linear-gradient(to top, rgb(4,55,105), rgb(11, 95, 163));
}

.card:hover{
    /* background-color:rgb(11, 95, 163); */
    box-shadow: 0px 0px 3px black;
}

/* 
.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
} */

.square {
    width: 80%;
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 50%;
    /* box-shadow: inset 0px 0px 10px rgba(0,0,0,.8); */
    transition: all .2s;
}

.card:hover .square{
    /* box-shadow: 0px 0px 10px rgba(0,0,0,.8); */
    border-radius: 20% 0% 20% 0%;
}



/* .lightsaber {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(150,150,150,.5);
    transition: all .2s;
    display:inline-block;
}

.lightsaber2 {
    width: 10px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(150,150,150,.5);
    transition: all .2s;
    display: inline-block;
    margin-left: 10px;
}

.card:hover .lightsaber , 
.card:hover .lightsaber2{
    background-color: white;
    box-shadow: 0px 0px 10px white;
} */

#portfolio .card-text{
    color: white;
}

/* #contact{
    height:600px;
    background-color: lemonchiffon;
} */

#contact{
    /* background-color: white; */
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 75px;
}

#contact-container{
    background-color:rgba(4,55,105);
    padding-bottom: 30px;
}

#contact-wrapper{
    /* display: flex; */
    backdrop-filter: blur(4px);
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

#contact-wrapper h1{
    width: 30%;
    min-width: 300px;
    margin: auto;
    font-weight: bold;
    color: rgb(4,55,105);
    background-color: white;
    border-radius: 15px 0 15px 0;
}

#external{
    display: flex;
    width: 50%;
    min-width: 300px;
    margin: auto;
   justify-content: space-between;
   flex-wrap: nowrap;
   margin-top: 20px;
   margin-bottom: 20px;
}

i {
    color: white;
    margin:0px;
    padding: 0px;
    transition: all .3s;
}

i:hover{
    transform: scale(1.1);
    color: gold;
}

#contact-wrapper a{
    margin:0px;
    padding: 0px;
    width: auto;
    color: white;
    transition: all .2s;
}

#contact-wrapper p a:hover{
    color: gold;
}

#contact-wrapper a:visited{
    color: white;
}    

#formspree-wrapper{
    background-image: linear-gradient(352deg, rgb(255, 196, 0) 30%, white 30.1%);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
}

#formspree{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(4,55,105);
    width: 60%;
    min-width: 320px;
    margin: auto;
    background-color: rgba(255,255,255,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

#formspree h5{
    font-weight: bold;
}
#fs-frm{
    margin: auto;
    width:50%;
    min-width: 300px;
}

#formspree input, #formspree textarea{
   margin-top: 5px;
    width: 300px;
}